*{
  box-sizing: border-box;
}
a{
  outline: none;
}
body{
  background: #fff;
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 100%;
  color: #000;
}

/*header stylesheet*/
header{
  background: #ebebeb;
  min-width: 100vw;
  width: 100vw;
  height: 3rem;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
header a{
  cursor: pointer;
}
.acess-div{
  background: #fff;
  width: 32.4vw;
  height: 90%;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0.9rem;
}
.acess-div:hover{
  transition-property: margin-top;
  transition-duration: 0.4s;
}
/*content stylesheet*/
main {
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 1rem 1rem;
}
main .cadPost{
  transition-property: all;
  transition-duration: 1s;
  width: 95%;
  margin: 0 auto;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
main .postForm{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
main .preview{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
/*Cards */
.card{
	color: black;
  min-width: 360px;
  min-height: 400px;

  max-width: 640px;
  max-height: 1000px;
}
.card-body #likes{
	margin-bottom: -3%;
}
#card-movie img{
  min-width: 100%;
	height: 400px !important;
	max-height: 460px !important;
}
/*Estilização itens cards movies*/
.preview .card-body{
	justify-content: space-between;
}
#likes a{
	color: black;
}
#category{
	padding: 1px 6px !important;
}
.card-img-overlay {
	top: 70%;
	max-height: 80px;
}
.showMovies{
  margin: 15px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*variables stylesheet*/
.show {
  display: flex;
}
.hide {
  display: none !important;
}
.clickEffect{
  background: #fff;
  padding: 5px;
  margin: 5px 5px 0 5px;
}
