<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
</head>

<body>
    <div>
        <h1>Solicitação de recuperação senha </h1>
        <p>Email: {{Email}}</p>
        <p>Nova senha: {{Senha}}</p>
        <p>Caso queria, é possível alterar a sua nova senha para uma que achar melhor, na opção "Alterar senha" a aba de Perfil</p>
    </div>
</body>

</html>