<h1>Upload</h1>
<form method="post" enctype="multipart/form-data" >
    <input type="file" name="img"/><br/>
    <label>note:</label><input type="text" name="note"/><br/>
    <label>data:</label><input type="text" name="data"/><br/>
    <label>Id do usuarios</label><input type="text" name="fk_usuario"/>

    <input type="submit" value="enviar" />
</form>


<meta charset="utf-8"/>
<div>
    <h1>Cadastro Confirmado</h1>
    <p>Parabéns! Sua conta foi Cineasy foi criada com sucesso!</p>
    <footer>
        <p>Esse e-mail notifica um serviço.</p>
    </footer>
</div>