<?php session_start();
 // if (!$_SESSION['company_log']) {
 //   header('Location: ../index.php');
 //   exit();
 // }
 $_SESSION['company_name'] = 'CineDev';
?>
<html lang="pt-br">
<head>
  <title><?=$_SESSION['company_name']?></title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-reboot.min.css">

  <link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
  <link href="../node_modules/aos/dist/aos.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/company-style.css">

  <link rel="shortcut icon" href="../assets/logo.png" type="image/x-icon">
  <?php include './controller/getMovies.php'?>
</head>
<body>

  <header>
  <a>
    <div class="acess-div user-select-none border border-bottom-0 border-dark clickEffect" id="showPainel">
      <strong>Criar Postagens</strong>
    </div>
  </a>
  <a>
    <div class="acess-div user-select-none border border-bottom-0"  id="showPosts">
      <strong>Suas Postagens</strong>
    </div>
  </a>

  <a>
    <div class="acess-div user-select-none border border-bottom-0" id="showMovies">
      <strong>Seus Filmes</strong>
    </div>
  </a>

  </header>

  <main data-aos="fade-zoom-in"
     data-aos-easing="ease-in-back"
     data-aos-delay="300"
      data-aos-duration="500" data-aos-id="main">

    <div class="container-fluid show cadPost">
      <div class="postForm">
        <!--Upload de filme-->
      <div class="formMovie">
        <form class="text-center border border-light p-5" action="#!" method="post">
          <p class="h4 mb-4">Vamos Lançar esse Filme!!</p>
          <div class="form-row mb-4">
              <div class="col">
                  <!-- Nome do filme -->
                  <input type="text" id="movieName" class="form-control" name="movieName" placeholder="Nome do Filme" onchange="previewCard()">
              </div>
              <div class="col">
                  <!-- nome do Diretor -->
                  <input type="text" id="directorName" class="form-control" name="directorName" placeholder="Nome do diretor">
              </div>
          </div>
          <!-- Id filme -->
          <input type="url" id="movieTrailer" class="form-control mb-4" name="movieTrailer" placeholder="Id do trailer">
          <!-- Tempo de fime & imagem-->
          <div class="form-row mb-4">
            <div class="col">
              <input type="number" id="movieTime" class="form-control" name="movieTime"placeholder="Tempo de duração" aria-describedby="minTime">
              <small id="minTime" class="form-text text-muted mb-4">
                  em minutos ex: 160min
              </small>
            </div>
            <div class="col">
              <input type="text" id="movieGenero" name="movieGenero" class="form-control" placeholder="Genero" onchange="previewCard()">
            </div>
          </div>
          <div class="d-flex" style="margin: -25px auto 0 auto">
            <label for="" style="margin: auto 5px">Poster</label>
            <input type="file" class="form-control-file" id="moviePoster" onchange="previewFile()" name="moviePoster">
          </div>
          <div class="d-flex" style="margin: 10px 0">
            <label for="" style="margin: auto 5px">Banner</label>
            <input type="file" class="form-control-file" id="movieBanner" name="movieBanner">
          </div>
          <!-- Sinopse -->
          <textarea class="form-control" rows="4" cols="50" id="movieSinopse" name="movieSinopse" style="resize:none;"></textarea>
          <!-- register movie up button -->
          <button class="btn btn-warning my-4 btn-block" type="submit">Anunciar Filme</button>
          <hr>
          <!-- Helper -->
          <p>Alguma duvida?
              <a href="" target="_blank">como fazer meu upload</a>
        </form>
      </div>
      <div class="formPost hide">
        <p>Aqui você faz um post bro</p>
      </div>
      </div>

      <div class="preview">
        <h4>Como Está ficando?</h4>
        <div class="col-sm-12 col-md-7">
          <div class="card" id="card-movie">
            <div class="card-header">
              <strong>Titulo</strong>
            </div>
            <div class="card-img-overlay">
              <a href="" class="btn btn-info" id="category">Categoria</a>
            </div>
            <img class="card-img" src="../1585614116047-ailhadafantasia.jpg" alt="Imagem do card">
            <div class="card-body d-flex">
              <span id="likes">
                <a href="#">
                  <i class="fas fa-thumbs-up"></i> Likes
                </a>
              </span>
              <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#filme"> Ver mais </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid hide showPosts">

    </div>

    <div class="container-fluid hide showMovies">
      <section class="filmes row align-items-center">


        <?php foreach ($movieObject as $key => $movie): ?>

          <div class="col-md-3 col-sm-12">
            <div class="card" id="card-movie">
              <div class="card-header">
                <strong><?=$movie->nome?></strong>
              </div>
              <div class="card-img-overlay">
                <a href="" class="btn btn-info" id="category"><?=$movie->genero ?></a>
              </div>
              <img class="card-img" src=<?=$movie->foto ?> alt="Imagem do card">
              <div class="card-body d-flex">
                <span id="likes">
                  <a href="#">
                    <i class="fas fa-thumbs-up"></i>
                  </a>
                </span>
                <button type="button" class="btn btn-outline-danger"data-toggle="modal" data-target="#filme">
                  Ver mais</button>
              </div>
            </div>
          </div>
          <?php endforeach; ?>

        </section>
    </div>
  </main>


  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../node_modules/popper.js/dist/popper.min.js"></script>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

  <script src="../node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>

  <script src="../node_modules/aos/dist/aos.js" ></script>
  <script>
    AOS.init();
  </script>
  <!-- Custom JS -->
  <script src="../js/company.js"></script>
</body>
</html>
